USE [master]
GO
/****** Object:  Database [Veritabanım]    Script Date: 10.09.2025 01:25:18 ******/
CREATE DATABASE [Veritabanım]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Veritabanım', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Veritabanım.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Veritabanım_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Veritabanım_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Veritabanım].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Veritabanım]
GO
/****** Object:  Table [dbo].[Kisiler]    Script Date: 10.09.2025 01:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisiler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](50) NOT NULL,
	[yas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
